.buyButton {
  display: block;
  position: relative;
  padding: 1rem 3rem;
  border: none;
  border-radius: 1000px;
  background:
    radial-gradient(
      circle at 50% 0%,
      oklch(0.5 0.15 165 / 0) 0% 60%,
      oklch(0.5 0.15 165 / 0.125) 70%,
      oklch(0.5 0.15 165 / 0.325) 80%,
      oklch(0.5 0.15 165 / 0) 100%
    ),
    linear-gradient(
      to top,
      oklch(0.6 0.19 164 / 1),
      oklch(0.9 0.2 182 / 1)
    );
  box-shadow:
    inset 0px -1px 2px hsl(175deg 100% 20% / 0.5),
    inset 0px -3px 6px hsl(175deg 100% 20% / 0.4),
    inset 0px 5px 5px hsl(175deg 100% 90% / 0.75);
  font-weight: 500;
  cursor: pointer;
  overflow: hidden;

  /*
    Add a white glow near the top of the button,
    to make the button feel a bit more 3D and gel-like:
  */
  &::before {
    content: '';
    position: absolute;
    top: 4px;
    left: 16px;
    right: 16px;
    height: 10px;
    border-radius: 100px 100px 0 0;
    border-top: 4px solid white;
    filter: blur(4px);
    opacity: 0.625;
  }
}

body {
  background: hsl(210deg 15% 6%);

  /* Center the button in the viewport */
  height: 100vh;
  height: 100svh;
  display: grid;
  place-content: center;
}