html {
  height: 100vh;
  background: hsl(210deg 15% 6%);
}
body {
  padding: 0;
}

svg {
  outline: 1px solid var(--color-gray-300);
  
  path {
    fill: none;
    stroke: #FFBF00;
    stroke-width: 5px;
    stroke-linecap: round;
  }
}